.UserElement__body{
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    border-radius: 10px;
    padding: 10px 15px;
}
.UserElement__container{
    display: flex;
    align-items: center;
}
.UserElement__img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.UserElement__name{
    font-weight: 500;
    font-size: 20px;
    margin: 0 10px 10px;
}
.UserElement__status{
    color: #333;
    font-size: 12px;
    margin: 0 10px;
}
.UserElement__button{
    margin: 0 10px;
    height: 34px;
    width: 75px;
    border-radius: 17px;
    border: none;
    background-color: #888;
    color: rgb(247, 247, 247);
    transition: all 0.2s;
}
.UserElement__button:hover{
    background-color: #555;
    color: #fff;
}
.UserElement__link {
    text-decoration: none;
    font-weight: 600;
    color: #111;
}