.dialogsBlock{
    display: flex;
}

.messagesBlock{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0 0 10px;
}

.messageInputBlock{
    display: flex;

}
.message__input{
    font-family: Montserrat, sans-serif;
    padding: 5px 10px;
    border: 0;
    border-radius: 5px 0 0 5px;
}
.message__input:focus {
    outline: none;
}
.message__button img{
    height: 20px;
    width: 20px;
}
.message__button{
    line-height: 0;
    border-radius: 0 5px 5px 0;
    background-color: #ccc;
    border: 0;
    transition: all 0.2s;
}
.message__button:hover {
    background-color: #777;
    transition: all 0.2s;
}
