.profile__userBlock {
    display: flex;
}

.profile__img {
    height: 200px;
    width: 200px;
    border-radius: 20px;
}
.profile__userName {
    font-size: 25px;
}
.profile__userInfo {
    margin: 20px;
}
.profile__userContent {
    margin: 20px;
}
.profile__btn {
    padding: 5px 8px;
    font-weight: 600;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    transition: all 0.2s;
}
.profile__btn:hover {
    transition: all 0.3s;
    color: #eee;
    background-color: #222;
}
.profile__li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.profile__ul {
    padding: 0;
    margin: 0;
}
.profile__status {
    font-weight: 500;
    font-size: 17px;
}