.post {
    margin: 20px 0;
    display: flex;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}
.post__img {
    flex: 0 0 auto; 
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.post__content {
    margin: 0 20px;

}
.post__likes {
    font-size: 13px;
}